---
Checks: "-*,clang-diagnostic-*,bugprone-*,cert-*,clang-analyzer-cplusplus.*clang-analyzer-optin.cplusplus.*,clang-analyzer-optin.portability.UnixAPI,clang-analyzer-optin.performance.*,google-*,llvm-include-order,modernize-*,performance-*,readability-*,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-google-readability-todo,-readability-magic-numbers"
FormatStyle: file
